nav{
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
}
nav h2{
   color: #2563EB;
   font-weight: 800;
}
nav button{
  display: flex;
  padding: 15px 12px;
  border-radius: 8px;
  border: none;
  justify-content: space-around;
  gap: 5px;
  background-color: #EFF6FF;
  color: #2563EB;
  font-size: 14px;
}